<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span jhiTranslate="ticketApp.ticket.detail.title">Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.etat">Etat</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ticketApp.EnumEtat.' + ticket.etat }}">{{ ticket.etat }}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.objet">Objet</span></dt>
        <dd>
          <span>{{ ticket.objet }}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.email">Email</span></dt>
        <dd>
          <span>{{ ticket.email }}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.demande">Demande</span></dt>
        <dd>
          <span>{{ ticket.demande }}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.departement">Departement</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ticketApp.ListDepartement.' + ticket.departement }}">{{ ticket.departement }}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.priorite">Priorite</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ticketApp.ListPriorite.' + ticket.priorite }}">{{ ticket.priorite }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
